body{
    margin: 0px;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #66CDAA;
    height: 1200px;

}

.container{
    display: flex;
    justify-content: center;
    width: 50vw;
    height: 68vh;
    align-items: center;

}

.panel{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150%;
    border-radius: 50px;
    cursor: pointer;
    flex: 1;
    margin: 20px 3px;
    transition: flex 0.7s ease-in;

}



.panel.active{
    flex: 5;
}


@media (max-width: 480px) {
    .container {
        width: 100vw;

    }
    .panel:nth-of-type(4),.panel:nth-of-type(5){
        display: none;

    }

}